dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.DS_Store
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
TAGS
*.vscode 
package-lock.json
/out
*.o
*.hi
bin/troupec
bin/irtester
bin/golden
node_modules
yarn.lock
yarn-error.log 
*.swp
bin/troupe
bin/understudy
