TAGS

##################################################
# NPM
node_modules

##################################################
# Haskell

## Cabal Sandbox
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local

## Program Coverage
.hpc
*.prof
*.aux
*.hp
*.eventlog

## Test Framework
.HTF

## Virtual Environment
.hsenv

## Build files
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi

##################################################
# Binaries from `compiler`
bin/*
compiler/bin/*

##################################################
# Troupe Compiler (`troupec`) output
out/*
compiler/out/*

##################################################
# Generated parser files
compiler/src/Parser.hs
compiler/src/Parser.info

##################################################
# Editors

## Visual Studio Code
*.vscode

## Vi
*.swp

## Emacs
*.#*
*~

##################################################
# Operating Systems

## MacOS
*.DS_Store